 <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Blog Timeline</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Blog</a></li>
                <li class="active">Blog Timeline</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container content"> 
        <ul class="timeline-v1">
            <li>
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'img1.1.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Timeline Heading</a></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a class="btn-u btn-u-sm" href="#">Read More</a>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'img1.1.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Timeline Heading</a></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a class="btn-u btn-u-sm" href="#">Read More</a>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'img1.1.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Timeline Heading</a></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a class="btn-u btn-u-sm" href="#">Read More</a>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <%= image_tag 'img1.1.jpg', class: 'img-responsive' %>
                    </div>
                    <div class="timeline-body text-justify">
                        <h2><a href="#">Timeline Heading</a></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <a class="btn-u btn-u-sm" href="#">Read More</a>
                    </div>
                    <div class="timeline-footer">
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-clock-o"></i> March 16, 2014</li>
                            <li><i class="fa fa-comments-o"></i> <a href="#">12 Comments</a></li>
                        </ul>
                        <a class="likes" href="#"><i class="fa fa-heart"></i>87</a>
                    </div>
                </div>
            </li>
          </ul>
        </div>
