 <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Our Contacts</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Contacts</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->



 <!--=== Content Part ===-->
    <div class="container content">     
        <div class="row margin-bottom-30">
            <div class="col-md-9 mb-margin-bottom-30">
                <p>Your feedback is important to us. Please let us know your experience using this web application and also, we would be really grateful to you if you could point out any bugs, so that we can fix them as soon as possible </p>

                <p>Also, feel free to drop a mail to communicate with us regarding new features which you want to be incorportated into this web application.</p>

                <p>For event organizers, if you want any new interest to be added to the list of interests, drop us a mail and we'll do the needful.</p>

                <p>Thank you</p>
                <hr>
                <form>
                    <label>Name</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 ">
                            <input type="text" class="form-control contacts-form">
                        </div>                
                    </div>
                    
                    <label>Email <span class="color-red">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 ">
                            <input type="text" class="form-control contacts-form">
                        </div>                
                    </div>
                    
                    <label>Message</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 ">
                            <textarea rows="8" class="form-control contacts-form"></textarea>
                        </div>                
                    </div>

                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </form>
            </div><!--/col-md-9-->
        


            <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30 lalign">
                    <li class="contacts-sidebar"><a href="#"><i class="fa fa-home"></i>Sir MVIT, Bangaore</a></li>
                    <li class="contacts-sidebar"><a href="#"><i class="fa fa-envelope"></i>hello@sirmvit.edu</a></li>
                    <li class="contacts-sidebar"><a href="#"><i class="fa fa-phone"></i>(+91) 8494938342</a></li>
                    <li class="contacts-sidebar"><a href="#"><i class="fa fa-globe"></i>http://www.sirmvit.edu</a></li>
                </ul>

                <!-- Business Hours -->
                <div class="headline"><h2>Developers</h2></div>
                <ul class="list-unstyled margin-bottom-30 lalign">
                    <li><strong>Abhishek:</strong> abhishek0647@gmail.com</li>
                    <li><strong>Anisha:</strong> anisha181091@gmail.com</li>
                    <li><strong>Nehal:</strong> nehal.kumar@gmail.com</li>
                    <li><strong>Sumedha:</strong> sumedha3092@gmail.com</li>
                </ul>

                <!-- Why we are? -->
                <div class="headline"><h2>Why we are?</h2></div>
                <p>We aim to provide an online portal for students of MVIT to communicate their ideas with each other as well as share various e-resources with others.</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Idea-share</li>
                    <li><i class="fa fa-check color-green"></i> Resources</li>
                    <li><i class="fa fa-check color-green"></i> Blogs</li>
                </ul>
            </div>
        </div>
    </div>