.row-fluid
	.span12
		= link_to 'Sign out', destroy_user_session_path, :method => :delete
.row-fluid
	.span12
		= link_to 'New event', new_event_path
		&nbsp
		&nbsp
		= link_to 'Set tags', set_tags_user_path
- @events.each do |event|
	.row-fluid
		.span12
			= event.name
